recorder:
  ## Note: for any id should contain valid characters only
  ## otherwise will be problem with nats (https://docs.nats.io/nats-concepts/subjects#characters-allowed-and-recommended-for-subject-names)
  ## Allowed characters: (a - z),(A - Z), (0 - 9), - and _
  id: node_01
  # try to not process more than 10 concurrent recordings in a single server
  # better to use multiple servers if needed
  max_limit: 10
  # if debug enabled, then it will display output logs in the terminal as well as
  debug: false
  # you can set it true if you want to post process recorded MP4 raw video to make better
  # this will require more times & CPU for encoding
  post_mp4_convert: true
  # use it if you want to use custom chrome
  custom_chrome_path: ""
  # This is optional. You can set the width and height of the recorded virtual window which will result in
  # recorded video with the same resolution
  width: 1800
  height: 900
  # this is optional. using this variable, you can change the DPI for xvfb virtual window, change this to
  # improve the picture clarity but with impact on performance and compatibility
  xvfb_dpi: 200
  copy_to_path:
    # plugnmeet-server should have access this path otherwise user can't download recordings.
    # this path can be NSF or other network path too
    # to write this path.
    main_path: "../recording_files"
    # This is optional. If you set this path, then it will be included with recording
    # and store in the database. This path should be inside main_path.
    # Sometime user wants to use a specific recording directory for this particular recorder.
    sub_path: "node_01"
  # You can use post-processing scripts for a further process the recording
  # you can find example from post_processing_scripts/example.sh
  #post_processing_scripts:
  # should be a full path and permission with executing e.g., chmod +x
  #  - "./post_processing_scripts/example.sh"
log_settings:
  log_file: "./logs/recorder.log"
  # maxsize of the log file in MB
  maxsize: 20
  maxbackups: 4
  # max age of log before doesn't rotate in days
  maxage: 2
  # info, warn, error, fatal, debug or panic
  log_level: "info"
# here you can set your custom ffmpeg options
ffmpeg_settings:
  recording:
    # any option to set before -i
    pre_input: "-loglevel error -thread_queue_size 512 -draw_mouse 0"
    post_input: "-c:v libx264 -x264-params keyint=120:scenecut=0 -preset ultrafast -crf 23 -c:a aac -af highpass=f=200,lowpass=f=2000,afftdn -async 1 -movflags frag_keyframe+empty_moov+default_base_moof -flush_packets 1 -tune zerolatency -y"
  post_recording:
    # any option to set before -i
    pre_input: "-loglevel error"
    post_input: "-preset ultrafast -movflags faststart -y"
  rtmp:
    # any option to set before -i
    pre_input: "-loglevel error -draw_mouse 0"
    post_input: "-c:v libx264 -pix_fmt yuv420p -x264-params keyint=120:scenecut=0 -b:v 2500k -video_size 1280x720 -c:a aac -b:a 128k -ar 44100 -af highpass=f=200,lowpass=f=2000,afftdn -preset ultrafast -crf 23 -async 1 -movflags frag_keyframe+empty_moov+default_base_moof -bufsize 512k -flush_packets 1 -tune zerolatency -f flv"
plugNmeet_info:
  # http://localhost:8080
  host: PLUG_N_MEET_SERVER_DOMAIN
  api_key: PLUG_N_MEET_API_KEY
  api_secret: PLUG_N_MEET_SECRET
  # Join_host is optional. Use it if plugNmeet-client installed in different places if
  # this is a non-localhost server then should be https link otherwise won't work.
  # format: https://PLUG_N_MEET_SERVER_DOMAIN/?access_token=
  # join_host: "http://localhost:3000/?access_token="
nats_info:
  nats_urls:
    - "nats://127.0.0.1:4222"
  nkey: NATS_NKEY_PRIVATE_KEY
  num_replicas: 1 # 1,3,or 5
  recorder:
    recorder_channel: "recorderChannel"
    recorder_info_kv: "pnm-recorderInfo"
