name: Build and release recorder
on:
  release:
    types: [ published ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
      - name: Build project
        run: |
          npm install
          npm run build
          mkdir -p tmp/recorder
          rsync -ar dist package.json config_sample.yaml tmp/recorder/
          cd tmp
          zip -X -r recorder.zip recorder
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: upload recorder
          path: tmp/recorder.zip
      - name: Upload to release
        uses: JasonEtco/upload-to-release@master
        with:
          args: tmp/recorder.zip application/zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
